<mat-accordion multi>
    <mat-expansion-panel 
    disabled="false"
    expanded="false"
    hideToggle="false"
    >
        <mat-expansion-panel-header>
            <p>Bu da header</p>
        </mat-expansion-panel-header>
        <mat-panel-title>BU panel titlesi</mat-panel-title>
        <mat-panel-description>bu panel describtionu</mat-panel-description>
    </mat-expansion-panel>

   
</mat-accordion>

<button mat-raised-button (click)="openAll()">open all</button>
<button mat-raised-button (click)="closeAll()">close all</button>