<section>
  <h3>Single selection</h3>
  <mat-button-toggle-group disabled="false" appearance="standard" disabledInteractive="false" multiple="true"
    name="multiple-button-toggle" value="1" vertical="true">
    <mat-button-toggle value="green">Green</mat-button-toggle>
    <mat-button-toggle value="blue">Blue</mat-button-toggle>

  </mat-button-toggle-group>
</section>
<section>
  <mat-button-toggle 
    value="red" 
    appearance="standard"
    aria-label="emircan"
    checked="false"
    disableRipple="true"
    name="redbuttontoggle"
    
    >Red</mat-button-toggle>
</section>
